@import '../../styles.css';

.card
{
    background: transparent;

    width: 100%;
    height: 150px;

    border: 1px solid var(--border);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 16px;

    cursor: pointer;
    transition: 0.5s ease;
}

.card:hover
{
    border: 1px solid var(--accent);
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1deg);
}

.card .content
{

    width: 100%;
    height: 100%;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p
{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.content h3
{
    font-size: 1rem;
    font-weight: 400;
}
