@import '../../styles.css';

.card
{
    background: transparent;

    width: 100%;
    height: 150px;

    border: 1px solid var(--border);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 16px;

    cursor: pointer;
    transition: 0.5s ease;

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 10px;

    padding: 20px;

}

.card:hover
{
    border: 1px solid var(--accent);
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1deg);
}

.card .content
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

.content p
{
    font-size: 2rem;
    font-weight: 600;
}

.content h3
{
    font-size: 1rem;
    font-weight: 500;
    color: #878787;
}

.card .icon
{
    width: 100%;
    aspect-ratio: 1;

    object-fit: contain;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px;

    background-color: rgba(61, 193, 169, 0.1);
    border-radius: 12px;
}

.icon img
{
    width: 70%;
}