@import '../../styles.css';

.header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    height: 75px;
    
    margin-bottom: 50px;
}

.header h1
{
    font-size: 2.5rem;
    font-weight: 400;
}

.header p
{
    font-size: 1.2rem;
    font-weight: 400;
    color: #c0c0c2;
}